<wrapper class="header">
  <container>
    <row class="collapse">
      <columns small="6">
        <img src="https://unitedwaymiami.org/wp-content/uploads/2017/07/UWMD_Pantone_2017-e1499909028567.png" alt="United Logo">
      </columns>
    </row>
  </container>
</wrapper>

<container>

  <spacer size="16"></spacer>

  <row>
    <columns>
      <h3>Hi, <%= @user.first_name %> ! </h3>
      <p class="lead">
        <h3>Thank you for joining United Way Connection!</h3>
      </p>

      <callout class="primary">
      </callout>
    </columns>
  </row>
  <row>
    <columns large="1">
      <h4>WHO WE ARE</h4><br>
      <img src="https://www.uwcark.org/sites/uwcark.org/files/group%20hi5.jpg" alt="People high-five" style="width:150px;height:150px">
      <p>We are on a mission to build a stronger Miami — a Miami where all children have the opportunity to learn and thrive, where families are financially secure and where people can live their lives to the fullest because they have the good health to do so — today and for generations to come. With you by our side, we know we can make this vision a reality. We invite you to join us in this life-changing work.</p>
      <h4>HOW YOU CAN HELP</h4>
      <img src="http://www.yourlocalunitedway.org/sites/main/files/imagecache/thumbnail/main-images/uw_2013_-_webheader_420x280-2_0.jpg" alt="People pointing" style="width:150px;height:150px">
      <p>Behind everything we do, there are people like you who make it happen.  When you give, advocate and volunteer, you become a powerful agent of change– helping to improve the odds for children and families throughout our community.  And, there’s no shortage of ways to get involved. Join us and LIVE UNITED.</p>
      <callout class="secondary">
        Please check out our YouTube channel! <a href="https://www.youtube.com/user/UnitedWayMiami">YouTube Channel</a>
      </callout><br>

      <!-- ????WHAT IS CALL OUT TAG????? -->
        <!-- ????WHAT IS CALL OUT TAG????? -->
          <!-- ????WHAT IS CALL OUT TAG????? -->

      <callout class="secondary">
        Tweet with us! <a href="https://twitter.com/UnitedWayMiami">Twitter Page</a>
      </callout><br>

      <!-- ????WHAT IS CALL OUT TAG????? -->
        <!-- ????WHAT IS CALL OUT TAG????? -->
          <!-- ????WHAT IS CALL OUT TAG????? -->

      <callout class="secondary">
        And like us on FaceBook! <a href="https://www.facebook.com/UnitedWayMiami/">FaceBook Page</a>
      </callout>
      <p>LET'S GET STARTED!</p>
      <button class="expand" href="GET SITE">Click Me!</button>
    </columns>
    <columns large="5" class="sidebar">
      <callout class="secondary">
        <h4>DON'T MISS OUT!</h4>
        <p class="lead">UPCOMING EVENTS or positive reviews or testomonies, ETC</p>
        <menu class="vertical">
          <item href="#">UPCOMING EVENTS, etc &raquo;</item>
          <item href="#">UPCOMING EVENTS, etc &raquo;</item>
          <item href="#">UPCOMING EVENTS, etc &raquo;</item>
        </menu>
      </callout>
      <callout class="secondary">
        <h6>CONNECT WITH US:</h6>
        <button class="facebook expand" href="https://www.facebook.com/UnitedWayMiami/">Facebook</button>
        <button class="twitter expand" href="https://twitter.com/UnitedWayMiami">Twitter</button>
        <button class="google expand" href="https://www.google.com/search?q=unitedwaymiami&oq=uni&aqs=chrome.2.69i60j69i59l2j69i60l2j0.3810j0j4&sourceid=chrome&ie=UTF-8">Google+</button>
        <p>CONTACT INFO:</p>
        <p>Phone: 999-999-9999</p>
        <a href="mailto:someone@unitedWayMiami.com?Subject=Hello%20again" target="_top">Send E-Mail
        </a>
      </callout>
    </columns>
  </row>

  <center>
    <menu>
      <item href="#">Terms</item>
      <item href="#">Privacy</item>
      <item href="#">Unsubscribe</item>
    </menu>
  </center>

</container>
