<div class="container-events">
    <h2><%= title  %> Events</h2>
    <% events.in_groups_of(3, Event.new) do |group| %>
        <div class="row">
            <% group.each do |event| %>
                <div class="col-sm">
                    <%= image_tag "home/community.jpg", class: ["d-block", "w-100"]%>
                    <b><%= link_to event.title, event %></b>
                </div>
            <% end %>
        </div>
    <% end %>
    <%= link_to "All Events", events_path, class:"btn btn-default" %>
</div>
