
<div class="container-fluid">
  <div id="myCarousel" class="carousel slide carousel-fade full-width-carousel" data-ride="carousel">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "home/community.jpg", class: ["d-block", "w-100"]%>
          <div class="carousel-caption d-none d-md-block">
            <h5>MISSION</h5>
            <p>build community by helping people care for one another</p>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "home/megaphone.jpg", class: ["d-block", "w-100"]%>
        </div>
        <div class="carousel-item">
          <%= image_tag "home/kids.jpg", class: ["d-block", "w-100"]%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Who We Are -->
  <div id="home-intro" class="max-width: 100%">

    <h1 class="mt-5 text-center">United Way of Miami-Dade</h1>
    <h3 class="mt-5 text-center">WHO WE ARE</h1>
    <p>We are on a mission to build a stronger Miami — a Miami where all children have the opportunity to learn and thrive, where families are financially secure and where people can live their lives to the fullest because they have the good health to do so — today and for generations to come.

      With you by our side, we know we can make this vision a reality. We invite you to join us in this life-changing work.</p>

  </div>

  <!-- Upcoming Events -->
  <div id="home-upcoming-events container-fluid">
    <div class="full-width">
    <%= render 'shared/upcoming_events', events: @events, title: "Upcoming", class: "d-flex justify-content-center" %>
    </div>
  </div>
</div>

  </body>
</html>
