<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>

  <div class="container">
    <h1>About Us</h1>
    <div>
      <!--YouTube Video -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DMNCtsMhiLo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div>
      <h2>Who We Are</h2>
      We are on a mission to build a stronger Miami — a Miami where all
      children have the opportunity to learn and thrive, where families are financially secure and where people can live their lives to the fullest because they have the good health to do so — today and for generations to come.

      With you by our side, we know we can make this vision a reality. We invite you to join us in this life-changing work.
    </div>
    <div>
      <h2>Mission</h2>
      The mission of United Way of Miami-Dade is to build community by helping people care for one another.
    </div>
    <div>
      <h2>Vision</h2>
      We will have a caring community strengthened by its diversity and compassion. United Way will be seen as a catalyst in building the community by bringing hearts, minds and resources together.
    </div>
  </div>

<hr>

  <h2>BUILDING A STRONGER MIAMI THROUGH EDUCATION, FINANCIAL STABILITY AND HEALTH</h2>
  <p>In today’s complex world, there’s no one way or right way to tackle the challenges we face. Instead, it takes all of us working collectively, in all kinds of different ways, to get the job done. Through research and planning, community engagement, investments in programs and initiatives, public policy advocacy and public awareness activities, we are creating real and measurable changes in education, financial stability and health.</p>


  <div class="row center">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Education</h5>
        <p class="card-text">Helping children and youth achieve their full potential</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Financial Stability</h5>
        <p class="card-text">Helping individuals and families pave a path to financial independence</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Health</h5>
        <p class="card-text">Helping people lead healthier lives</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
  </div>



  </body>
</html>
