<div class="jumbotron" style="background-color:#E0FFFF">
    <h1 class="display-4">Corporate Partners</h1>
    <p class="lead">With the generous support of these corporations and organizations, along with their employees and bargaining units, we are able to continue our work in education, financial stability and health.</p>

  <div class="text-center">
    <a class="btn btn-primary btn-lg" style="background-color:#00008B" href="https://unitedwaymiami.org/our-partners/corporate-partners/" role="button" target="_blank">Learn more</a>
  </div>

</div>

<br>

<div class="jumbotron" style="background-color:#E0FFFF">
    <h1 class="display-4">Impact Partners</h1>
    <p class="lead">Among the ways our United Way is helping to build a stronger Miami is by investing in more than 120 programs at 51 impact partners and 10 impact grantees that achieve measurable results. Program investment decisions in education, financial stability and health are made by trained community volunteers from a variety of professional backgrounds, based on community needs, strategic objectives, programmatic outcomes, and agency governance and stewardship practices.</p>

  <div class="text-center">
    <a class="btn btn-primary btn-lg" style="background-color:#00008B" href="https://unitedwaymiami.org/our-partners/together-building-a-stronger-community/" role="button" target="_blank">Learn more</a>
  </div>

</div>

<br>

<div class="jumbotron" style="background-color:#E0FFFF">
    <h1 class="display-4">Labor Partners</h1>
    <p class="lead">Over the years, we’ve seen how a strong partnership between labor and management has a positive and powerful impact on the community. Our mission is to build a stronger Miami-Dade County by uniting union members to make personal investments of time and resources in our community through United Way.</p>

  <div class="text-center">
    <a class="btn btn-primary btn-lg" style="background-color:#00008B" href="https://unitedwaymiami.org/our-partners/organized-labor-and-united-way-together-building-a-stronger-community-for-us-all/" role="button" target="_blank">Learn more</a>
  </div>

</div>

<br>

<div class="jumbotron" style="background-color:#E0FFFF">
  <h1 class="display-4">Community Partners</h1>
  <p class="lead">Over the years, we’ve seen how a strong partnership between labor and management has a positive and powerful impact on the community. Our mission is to build a stronger Miami-Dade County by uniting union members to make personal investments of time and resources in our community through United Way.</p>

  <div class="text-center">
  <a class="btn btn-primary btn-lg" style="background-color:#00008B" href="https://unitedwaymiami.org/our-partners/community-partners/" role="button" target="_blank">Learn more</a>
</div>

</div>
