

  <div class="container">
    <h1>Ways To Give</h1>

    <div>
      <h2>Give Online</h2>
    <p>

    </p>
    </div>
    <div>
      <h2>Join a Giving Community</h2>
        <div>
          <!--YouTube Video -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/fNMcap6qyJY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <p>
        We come from different parts of the globe, different backgrounds and from all walks of life but we have one thing in common – we all chose to call Miami home. It’s where we work, play and raise our families and we come together as a community to make it better.

        Join a United Way giving community and get connected with other community minded people, network and deepen your philanthropic commitment. Choose the one that best fits you.<br><br>
        Video courtesy of
        <a href="https://www.youtube.com/channel/UCAduhxNrjm3-fnv9L5BE6hw" target="_blank">Join The Community</a>
      </p>
    </div>
    <div>
      <h2>Make a Planned Gift</h2>
        <p>
          Find out What to Give and learn about the best assets to make a planned gift. Learn about gifts of cash, securities and property. Learn How to Give and discover gift options that provide tax and income benefits. Discover the best planned gift to meet your goals.
          <a href="http://uwmdlegacy.org/?pageID=123"> MORE >></a>
        </p>
    </div>
    <div>
      <h2>Start a Campaign</h2>
      Add details
    </div>
  </div>

<hr>

<h3>Maybe use below?</h3>
  <div class="row center">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">Lorem</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">Lorem</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">Lorem</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
  </div>
