<!-- <h1>Ways To Give</h1> -->
<div class="jumbotron m-4 p-4" style="background-color: #f0e6c8">

  <h1 class="display-4 serif-font">Ways To Give</h1>
  <div class="text-center">
    <p class="bold">YOUR HELP STAYS LOCAL</p>
    <p>Your generosity creates major changes right in your own backyard.</p>
    <p class="bold">YOUR $1 TURNS INTO $2.16</p>
    <p>Through partnerships, matching gifts and in-kind donations, your contributions are more than doubled.</p>
    <p class="bold">VOLUNTEER DRIVEN</p>
    <p>Volunteers like you examine the needs of the community and decide the most effective ways to tackle them.</p>
</div>

  <div class="text-center">
    <a class="btn btn-primary btn-lg" style="background-color:#00008B" href="https://portal.unitedwaymiami.org/comm/SinglePageRegPledge.jsp?DA=6663454&SC=general" role="button" target="_blank">Give Online</a>
</div>
</div>

<div class="card-deck p-4">
  <div class="card">
    <iframe height="300" src="https://www.youtube.com/embed/SuAbQGSuDaU" frameborder="0" allow="autoplay; encrypted-media"></iframe>
    <div class="card-body">
      <h5 class="card-title">UNITED WAY LINC</h5>
      <p class="card-text">LINC (<strong>L</strong>ead. <strong>I</strong>mpact. <strong>N</strong>etwork. <strong>C</strong>hange.) is a newly formed group of emerging leaders ages 30 and under, who together, focus on harnessing the power, potential and passion of Miami’s next generation. They are engaged in the community and committed to solving our area’s biggest challenges.</p><br>
      <a class="btn btn-primary card-button" style="background-color:#00008B" href="https://unitedwaymiami.org/get-involved/join-a-giving-community/united-way-linc/" role="button" target="_blank">LEARN MORE</a>
    </div>

    <div class="card-footer">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>

        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>

        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
        <script type="IN/Share"></script>

        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&appId=2346205658940387&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

  <div class="card">
    <iframe height="300" src="https://www.youtube.com/embed/fNMcap6qyJY" frameborder="0" allow="autoplay; encrypted-media"></iframe>
    <div class="card-body">
      <h5 class="card-title">UNITED WAY YOUNG LEADERS</h5>
      <p class="card-text">Young Leaders is comprised of nearly 1,000 members, 40 years and younger, who invest their time, talent and resources to improve Miami-Dade. Through year-round volunteer activities and events, they are raising awareness and resources to support United Way’s community goals.</p><br>
      <a class="btn btn-primary card-button" style="background-color:#00008B" href="https://unitedwaymiami.org/get-involved/join-a-giving-community/young-leaders/" role="button" target="_blank">LEARN MORE</a>
    </div>

    <div class="card-footer">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share"></script>

      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&appId=2346205658940387&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

  <div class="card">
    <iframe height="300" src="https://www.youtube.com/embed/8o-_lFKOpzg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">UNITED WAY WOMEN</h5>
      <p class="card-text">Women United unites more than 2,100 dynamic women, who are committed to making families stronger and more resilient through giving, advocating and volunteering.</p><br>

      <a class="btn btn-primary card-button" style="background-color:#00008B" href="https://unitedwaymiami.org/get-involved/join-a-giving-community/women-united/" role="button" target="_blank">LEARN MORE</a>
    </div>

    <div class="card-footer">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share"></script>

      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&appId=2346205658940387&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</div>


<div class="card-deck p-4">
  <div class="card">
    <iframe height="300" src="https://www.youtube.com/embed/12MZ_neUPyk" frameborder="0" allow="autoplay; encrypted-media"></iframe>
    <div class="card-body">
      <h5 class="card-title">UNITED WAY TOCQUEVILLE SOCIETY</h5>
      <p class="card-text">United Way Tocqueville Society is comprised of nearly 800 business, civic and philanthropic leaders who share a passion for improving people’s lives and our community – personally and collectively.</p><br>
      <a class="btn btn-primary card-button" style="background-color:#00008B" href="https://unitedwaymiami.org/get-involved/join-a-giving-community/tocqueville-society-get-involved/" role="button" target="_blank">LEARN MORE</a>
    </div>

    <div class="card-footer">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share"></script>

      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&appId=2346205658940387&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

  <div class="card">
    <iframe height="300" src="https://www.youtube.com/embed/gIR3T_WmIis" frameborder="0" allow="autoplay; encrypted-media"></iframe>
    <div class="card-body">
      <h5 class="card-title">CONTINUED UNITED</h5>
      <p class="card-text">Continue United brings together individuals 55+ who wish to stay active and engaged in our community while contributing their time and talents. This initiative offers a wide range of volunteer, educational and social programming and opportunities to continue supporting United Way’s work in education, financial stability and health.</p><br>
      <a class="btn btn-primary card-button" style="background-color:#00008B" href="https://unitedwaymiami.org/get-involved/join-a-giving-community/continueunited/" role="button" target="_blank">LEARN MORE</a>
    </div>
    <div class="card-footer">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share"></script>

      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&appId=2346205658940387&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>


  <div class="card">
    <%= image_tag "ways-to-give/give.jpg", class:"img-fluid max-width: 100%;" %>
    <div class="card-body">
      <h5 class="card-title">MORE WAYS TO GIVE</h5>
      <p class="card-text">
        <li>
          <a href="http://uwmdlegacy.org/?pageID=123" target="_blank">Gift Options</a>
        </li>
        <li>
          <a href="http://uwmdlegacy.org/?pageID=166" target="_blank">Estate Planning Guide</a>
        </li>
        <li>
          <a href="http://uwmdlegacy.org/?pageID=2" target="_blank">Donor Stories</a>
        </li>
        <li>
          <a href="http://uwmdlegacy.org/?pageID=1003" target="_blank">Examples of Planned Giving Options</a>
        </li>
        <div class="subscribe">
            Subscribe to our Youtube Channel and share!
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channel="UnitedWayMiami" data-layout="full" data-count="hidden"></div>
          </div>
      </p>
    </div>
  </div>
</div>
