

  <div class="container">
    <h1>Ways To Give</h1>
    <div class="any">
      <!--YouTube Video -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DMNCtsMhiLo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
      <a href="https://www.youtube.com/channel/UCAduhxNrjm3-fnv9L5BE6hw" target="_blank">Subscribe to our YouTube channel</a>
    </div>

    <div>
      <h2>Give Online</h2>
      <a href="https://portal.unitedwaymiami.org/comm/SinglePageRegPledge.jsp?DA=6663454&SC=general"> <img src="https://blog.fivestars.com/wp-content/uploads/2016/11/CharityandCommunity.jpg" alt="Heart" style="width:100px;height:100px">GIVE ONLINE </a>
    <p>

    </p>
    </div>
    <div>
      <h2>Join a Giving Community</h2>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/I9PovwKrZXA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
        <a href="https://www.youtube.com/channel/UCAduhxNrjm3-fnv9L5BE6hw" target="_blank">Subscribe to our YouTube channel</a>
        <p>
        We come from different parts of the globe, different backgrounds and from all walks of life but we have one thing in common – we all chose to call Miami home. It’s where we work, play and raise our families and we come together as a community to make it better.

        Join a United Way giving community and get connected with other community minded people, network and deepen your philanthropic commitment. Choose the one that best fits you.<br><br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/SuAbQGSuDaU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="https://www.youtube.com/channel/UCAduhxNrjm3-fnv9L5BE6hw" target="_blank">Subscribe to our YouTube channel</a><br>
        <a href="https://unitedwaymiami.org/get-involved/join-a-giving-community/united-way-linc/" target="_blank"> UNITED WAY LINC </a> - LINC (Lead. Impact. Network. Change.) is a newly formed group of emerging leaders ages 30 and under, who together, focus on harnessing the power, potential and passion of Miami’s next generation. They are engaged in the community and committed to solving our area’s biggest challenges.<br><br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/fNMcap6qyJY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="https://www.youtube.com/channel/UCAduhxNrjm3-fnv9L5BE6hw" target="_blank">Subscribe to our YouTube channel</a><br>
        <a href="https://unitedwaymiami.org/get-involved/join-a-giving-community/young-leaders/" target="_blank"> UNITED WAY YOUNG LEADERS</a> - Young Leaders is comprised of nearly 1,000 members, 40 years and younger, who invest their time, talent and resources to improve Miami-Dade. Through year-round volunteer activities and events, they are raising awareness and resources to support United Way’s community goals.<br><br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/8o-_lFKOpzg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="https://www.youtube.com/channel/UCAduhxNrjm3-fnv9L5BE6hw" target="_blank">Subscribe to our YouTube channel</a><br>
        <a
        href="https://unitedwaymiami.org/women-united" target="_blank"> UNITED WAY WOMEN UNITED</a> - Women United unites more than 2,100 dynamic women, who are committed to making families stronger and more resilient through giving, advocating and volunteering.<br><br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/12MZ_neUPyk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="https://www.youtube.com/channel/UCAduhxNrjm3-fnv9L5BE6hw" target="_blank">Subscribe to our YouTube channel</a><br>
        <a
        href="https://unitedwaymiami.org/get-involved/join-a-giving-community/tocqueville-society-get-involved/" target="_blank"> UNITED WAY TOCQUEVILLE SOCIETY</a> -  United Way Tocqueville Society is comprised of nearly 800 business, civic and philanthropic leaders who share a passion for improving people’s lives and our community – personally and collectively.<br><br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/gIR3T_WmIis" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="https://www.youtube.com/channel/UCAduhxNrjm3-fnv9L5BE6hw" target="_blank">Subscribe to our YouTube channel</a><br>
        <a
        href="https://unitedwaymiami.org/get-involved/join-a-giving-community/continueunited/" target="_blank"> CONTINUE UNITED</a> - Continue United brings together individuals 55+ who wish to stay active and engaged in our community while contributing their time and talents. This initiative offers a wide range of volunteer, educational and social programming and opportunities to continue supporting United Way’s work in education, financial stability and health.<br><br>

      </p>
    </div>
    <div>
      <h2>Make a Planned Gift</h2>
        <p><h5>GIFT OPTION</h5>
          <a href="http://uwmdlegacy.org/?pageID=123" target="_blank"> <img src="http://uwmdlegacy.org/org_files/1860/images/go%20(2).png" alt="Baby Picture" style="float:left;width:100px;height:100px"></a>
          Find out What to Give and learn about the best assets to make a planned gift. Learn about gifts of cash, securities and property. Learn How to Give and discover gift options that provide tax and income benefits. Discover the best planned gift to meet your goals.<br>
          <a href="http://uwmdlegacy.org/?pageID=123" target="_blank"> MORE >></a>
        </p><br>

          <p><h5>ESTATE PLANNING GUIDE</h5>
            <a href="http://uwmdlegacy.org/?pageID=166" target="_blank"><img src="http://uwmdlegacy.org/org_files/1860/images/epg%20(2).png" alt="Senior Couple" style="float:left;width:100px;height:100px"></a>
            Are you ready to plan your will or trust? We would like to send you our free Estate Planning Guide. This guide will provide you with helpful information to provide for your needs, your family?s future and your favorite causes.<br>
            <a href="http://uwmdlegacy.org/?pageID=166" target="_blank"> MORE >></a><br>
          </p><br>

        <p><h5>DONOR</h5>
          <a href="http://uwmdlegacy.org/?pageID=2" target="_blank"> <img src="http://uwmdlegacy.org/org_files/1860/images/uw_portraits2_0829_RGB-6x4_500x500.png" alt="Couple" style="float:left;width:100px;height:100px"></a>
          Learn how others have made an impact through their acts of giving to our organization and others. Explore the many benefits of charitable gift planning.<br>
          <a href="http://uwmdlegacy.org/?pageID=2" target="_blank"> MORE >></a><br>
        </p><br>
        <p><h5>EXAMPLES OF PLANNED GIVING OPTIONS</h5>
          <a href="http://uwmdlegacy.org/?pageID=1003" target="_blank"> <img src="http://uwmdlegacy.org/org_files/1860/images/pgo%20(1).png" alt="Couple" style="float:left;width:100px;height:100px"></a>
          Learn how others have made an impact through their acts of giving to our organization and others. Explore the many benefits of charitable gift planning.<br>
          <a href="http://uwmdlegacy.org/?pageID=1003" target="_blank"> MORE >></a><br>
        </p><br>
    </div>
    <div>
      <h2>Start a Campaign</h2>
      <p> Click
        <a href="https://unitedwaymiami.org/get-involved/give-to-your-united-way/start-a-campaign-at-your-workplace/" target="_blank"> HERE </a>
        to start your own Campaign!
      </p>
    </div>
  </div>

<hr>

<h3>Maybe use below?</h3>
  <div class="row center">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">Lorem</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">Lorem</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">Lorem</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
  </div>
