<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ways To Give</title>
  </head>
  <body>

  <div class="container">
    <h1>Ways To Give</h1>

    <div>
      <h2>Give Online</h2>
      Add details
    </div>
    <div>
      <h2>Join a Giving Community</h2>
      Add details
    </div>
    <div>
      <h2>Make a Planned Gift</h2>
      Add details
    </div>
    <div>
      <h2>Start a Campaign</h2>
      Add details
    </div>
  </div>

<hr>

<h3>Maybe use below?</h3>
  <div class="row center">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">Lorem</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">Lorem</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Placeholder">
      <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">Lorem</p>
        <a href="#" class="card-link">Learn more</a>
      </div>
    </div>
  </div>



  </body>
</html>
