/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Sanchez');



/* COLORS
Dark Blue - #000064
Deep Red - #b41428
Light Beige - #f0e6c8
Dark Beige - #e6d7aa
Light Grey - #969696
United Way Blue - #10167f
United Way Red - #fe23oa
United Way Orange - #ff9600
*/

/* FONTS
font-family: 'Cutive Mono', monospace;
font-family: 'Sanchez', serif;
font-family: 'Roboto', sans-serif;
*/


.body {
  font-family: 'Roboto', sans-serif;
}

 /* Carousel */
.full-width-carousel {
 width: 100vw;
 margin-left: -50vw;
 left: 50%;
}

.a-primary {
  color: red;
}

.serif-font {
  font-family: 'Sanchez', serif;
}

.round-img {
  position: relative;
  display: inline-block;
  margin: 10px;
  max-width: 190px;
  width: 100%;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.round-img *,
.round-img:before,
.round-img:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.round-img:before,
.round-img:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #bbb;
}

.round-img img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
}

figcaption {
  caption-side: bottom;
}

.round-img figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  background-color: black;
  border-radius: 50%;
}

.round-img:hover figcaption,
.round-img.hover figcaption {
  opacity: .9;
  text-transform: uppercase;
  color: white;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  vertical-align: text-bottom;
}

.round-img:hover:before,
.round-img.hover:before,
.round-img:hover:after,
.round-img.hover:after {
  border-width: 10px;
}

.round-img:hover:before,
.round-img.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.round-img:hover:after,
.round-img.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Home Page Div Collection */
.justify-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Round Image Div About Us Page */
#aboutUsRoundRow {
  background-color: #10167f;
  text-align: center;
}

#aboutUsRoundRow img {
  filter: grayscale(100%);
}

.page-footer {
  font-size: .75rem;
}

#aboutUsRoundRow a {
  color: white
}

#aboutUsRoundRow a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #b41428;
}

/* Ways to Give Page */

.card-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-button {
  position: absolute;
  bottom: 0;
}
.subscribe {
  position: absolute;
  bottom: 0;
  text-align: center;
}


@media screen and (min-width: 1600px) {
    .container {
        max-width: (1600px - @grid-gutter-width);
    }
}
@media screen and (min-width: 1900px) {
    .container {
        max-width: (1900px - @grid-gutter-width);
    }
}
